.item{
    width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.itemContainer{
    display: flex;
    align-items: center;
}
.itemName {
    font-size: 20px;
    font-weight: bold;
    flex: 3;
}

.completed {
    text-decoration: line-through;
}

.itemButton {
    border: none;
    background-color: yellowgreen;
    color: white;
    border-radius: 8px;
    height: 40px;
    width: 50px;
    font-weight: bold;
    cursor: pointer;
}

.line {
    width: 500px;
    border: 1px solid rgba(135, 135, 135, 0.3);
}